<!DOCTYPE html>
<html lang="en">
  <head>
    
  </head>
  <body>
    
    </body>
  <script>
    $(document).ready(() => {
      $.get("/api/info", (data) => {
        //check api/routes.js
        let url = `https://discord.com/oauth2/authorize?client_id=${
          data.ClientID
        }&permissions=${data.Permissions}&scope=${data.Scopes.join("%20")}&redirect_uri=${data.Website}${data.CallbackURL}&response_type=code`;
        
        $("#hero").append(`<a href="${url}" class="btn btn-primary" type="button">Convidar</a>
            <a href="/dashboard" class="btn btn-outline-primary" type="button">Painel de controle</a>`);
      });

      $.get("/api/commands", (data) => {
        //same as above check it :eyes:
        data.commands.forEach((cmd) => {
          $("#commands-body").append(`
<tr>
  <th scope="row">${cmd.name}</th>
  <td>${cmd.aliases ? cmd.aliases.join(", ") : "None"}</td>
  <td>${cmd.usage ? cmd.usage : "None"}</td>
  <td>${cmd.description ? cmd.description : "None"}</td>
</tr>
`);
        });
      });
    });
  </script>
</html>
